body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #5cb4f0;
  }
  .name {
    margin:50px 0px 10px 0px;
  }
  .form {
    padding: 30px;
    background-color: white;
    width:40%;
    border-radius: 2%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .symbol {
    display: inline-block;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: -5px;
    margin-top: 10px;
  }
  .data{
    width: 27%;
    margin-top: 0 0 0 0;
    padding: 0 10px 0;
    background: none;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgb(192, 189, 189);
    height: 42px;
    font-size: 16px;
  }
  .submitButton {
    margin: 20px 0px 104px 33px;
    width: 289px;
    height: 43px;
    background-color: #ec2c7c;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-top: 45px;
  }